/* Small buttons  */
.btn__normal-small {
  font-size: 1.3em;
  font-weight: 800;
  color: #3aae84;
  background-color: #fff;
  padding: 0.7em 1.6em;
  border: 2px solid #fff;
  transition: ease;
  transition-duration: 80ms;
}

.btn__normal-small:hover {
  color: #fff;
  background-color: #3aae84;
  border: solid 2px #fff;
}
.atag-style {
  text-decoration: none;
}
.a_link_button:hover {
  background-color: #fff;
}
/* Normal button */
.btn__normal {
  font-size: 20pt;
  font-weight: 800;
  color: #3aae84;
  background-color: #fff;
  padding: 0.7em 1.6em;
  border: 2px solid #3aae84;
  transition: ease;
  transition-duration: 80ms;

  text-decoration: none;
}

.btn__normal:hover {
  color: #fff;
  background-color: #3aae84;
  border: solid 2px #fff;
}

.btn__outline {
  font-size: 14pt;
  color: #3aae84;
  padding: 0.7em 1.7em;
  background-color: white;
  border: solid 2px #3aae84;
  transition: ease;
  transition-duration: 80ms;
}

/* Button Outline black */

.btn__outline-black {
  font-size: 20pt;
  font-weight: 400;
  color: #000;
  padding: 0.7em 1.7em;
  background-color: white;
  border: 2px solid #000;
  transition: ease;
  transition-duration: 80ms;
}
.btn__outline-black:hover {
  background-color: #3aae84;
  color: #fff;

  border: 2px solid #fff;
}
/* Button outline green */
.btn__outline-green {
  font-size: 14pt;
  color: #3aae84;
  padding: 0.7em 1.7em;
  background-color: white;
  border: 2px solid #3aae84;
  transition: ease;
  transition-duration: 80ms;
}
.btn__outline-green:hover {
  background-color: #3aae84;
  color: #fff;

  border: 2px solid #fff;
}
@media screen and (min-width: 768px) {
  .btn__normal {
    background-color: #3aae84;
    color: #fff;
    border-color: #3aae84;
  }
  .btn__normal:hover {
    color: #3aae84;
    background-color: #fff;
    border: solid 2px #3aae84;
  }
}
