.what-we-do__img {
  object-fit: contain;
  margin-bottom: 0.3em;
}
.what-we-do__hackerthons {
  height: 60px;
}
.what-we-do__school-clubs {
  width: 70px;
}

/* Our Partners Images */

.our-partners__img {
  object-fit: contain;

  /* margin-bottom: 0.3em; */
}
.our-partners__open-energy-labs {
  box-shadow: 1.5px 2px 20px 1px rgb(0, 0, 0, 0.1);
  padding: 3em 1.1em;
  height: 15em;
}
.our-partners__git-hub {
  box-shadow: 1.5px 2px 20px 1px rgb(0, 0, 0, 0.1);

  padding: 3em 1.1em;
  height: 12.6em;
  margin: 0.6em;
}
