.footer__container_mobile {
  background-color: #354e45;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-weight: 400;
  margin: 1em 0em 0em 0em;
}
.footer__labels {
  width: 90vw;
  padding-top: 2em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.footer__social-nav_mobile {
  width: 90vw;
  padding-top: 2em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.footer__container_mobile hr {
  color: #ffffff;
  margin: 0em 0em 1.6em 0em;
  opacity: 20%;
}
.footer__item_mobile > a {
  color: #ffffff;
  margin: 0em 0em 1.6em 0em;
  opacity: 60%;
  text-decoration: none;
}
.footer__item_mobile {
  display: flex;
  flex-direction: column;
}
.footer__copywrite_container_mobile {
  margin: 2em 0em;
  text-align: center;
  order: 2;
}

.footer__social_mobile {
  display: flex;

  flex-direction: column;

  align-content: space-between;
  align-items: flex-start;
  opacity: 60%;
  text-decoration: none;
}
.footer__link {
  text-decoration: none;
}
.footer__social_mobile div {
  display: flex;
  flex-basis: content;

  justify-content: space-between;
  align-content: space-between;
}
.footer__social_mobile div p {
  margin-left: 1em;
  color: #fff;
  text-decoration: none;
}

@media screen and (min-width: 1004px) {
  .footer__container_mobile {
    display: none;
  }
}
