.footer__container {
  background-color: #354e45;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-weight: 400;
  padding-top: 1em;
  margin: 2.5em 0em 0em 0em;
}
.footer__container hr {
  color: #ffffff;
  margin: 0em 0em 0em 0em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  opacity: 20%;
}
.footer__container a {
  text-decoration: none;
  color: #ffffff;
  padding: 0.5rem;
  /*margin: 0.3rem;*/
}
.footer__copywrite_container {
  margin: 2em 0em;
  text-align: center;
  order: 2;
}


.footer_social_nav {
  max-width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.footer__labels {
  max-width: 90vw;
  padding-top: 2em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media screen and (min-width: 1004px) {
  /*  */
}
