/* .social__container {
} */
/* .default__styles {
  display: none;
  height: 1.5em;
  object-fit: contain;
} */
.default__styles {
  display: inline;
  /* display: none; */
  height: 1.5em;
  object-fit: contain;
}

.social__img {
  height: 1.2em;
  object-fit: contain;
}
