/* ::root {
  --green-color: #3aae84;
  --green-color-dark: #2c4d41;
  --light-orange-color: #e6b149;
} */
.nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 0.4em 1em 0em 1em;
  background-color: white;
  position: fixed;
  top: 0 ;
  left: 0;
  right: 0;
  z-index: 1;
}
.nav__branding_menu {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}
.nav__brand_button {
  border: none;
}
.nav__list {
  list-style: none;
}
.nav__web_view {
  display: none;
}
.nav__button {
  background-color: transparent;
  border: none;
}
.nav__logo {
  object-fit: contain;
  max-height: 2.5em;
}
.nav__brand {
  padding: 0;
  margin: 0;
}
.nav-container__list {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-right: 4em;
  margin-bottom: 1em;
}

@media screen and (min-width: 880px) {
  .nav {
    padding: 2em 1em 2em 4em;
    background-color: white;
  }
  .nav__menu {
    display: none;
  }
  .nav__web_moblie {
    display: none;
  }
  .nav__web_view {
    display: block;
  }
  .nav-container__list {
    max-width: auto;
    display: flex;
    flex-direction: row;
  }
  .nav__list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  /* .nav__link:hover{
    background-color: #e0e0e0;
  } */
  .nav__item {
    color: white;
    display: flex;
  }
  .nav__link {
    text-decoration: none;
    color: #000;
  }
}
@media screen and (max-width: 250px) {
  .nav__menu {
    display: none;
  }
}
