.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background-color: #3aae84;
  color: #fff;
  padding: 0 0.2em;
}

.hero__title {
  max-width: 12em;
  font-size: 40px;
  font-weight: 900;
  text-align: center;
}

.hero__content {
  margin: 1em 0 1.5em 0;
  max-width: 20em;
  font-size: 16px;
  text-align: center;
}
@media screen and (min-width: 100px) {
  .hero__title {
    margin: 0 0.8em;
  }
  .hero__content {
    margin-left: 2em;
    margin-right: 2em;
  }
}
